.wrap {
    height: 1334px;
    width: 750px;
    background-image: url(../../images/login_bg.png);
    background-size:100%;
}
.login_wrap{
    margin: auto;
    background:orange;
    /* height: ; */
}
.login_wrap h1{
    /* position: relative; */
    font-size:50.0446px;
    font-weight: 700;
}
