.moreTourShowListContainer{
    width: 690px;
    padding:30px;
    background: #fff;
    position: relative;
}
.header>.return{
    float: left;
    font-size: 40px;
}
.header>span{
    width: 450px;
    font-size:35px;
}
.header>.more{
    position: absolute;
    width: 50px;
    height: 50px;
    right:35px;
    top:30px;
}
.moreTourShowList{
    height:280px;
    background: #fff;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}
.tourImg{
    float: left;
    width: 178px;
    height: 240px;
}
.right{
    float: right;
    width: 470px;
    height: 270px;
    text-align: left;
}
.right .tourShowName{
    font-size:28px;
    color:#333;
    line-height: 35px;
    margin-bottom: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.right>p{
    color: #999;
    font-size: 20px;
    margin-bottom:10px;
}
.cityList{
    height: 117px;
    overflow: hidden;
}
.right li{
    float: left;
    width: 134px;
    height: 52px;
    border:1px solid #eee;
    text-align: center;
    line-height: 52px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.loadMore{
    width: 4.24rem;
    height: .96rem;
    border-radius: .10667rem;
    border: 1px solid #ff6743;
    margin-left: auto;
    margin-right: auto;
    font-size: .4rem;
    color: #ff6743;
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    line-height: .96rem;
    box-sizing: border-box;
    /* margin-bottom:80px; */
}