.showsLibraryContainer{
    width: 690px;
    padding:30px;
    background: #fff;
    position: relative;
}
.return{
    float: left;
    font-size: 40px;
}
.showsLibraryContainer>span{
    width: 450px;
    font-size:35px;
    margin-left:30px;
}
.showsLibraryContainer>.more{
    position: absolute;
    width: 50px;
    height: 50px;
    right:35px;
    top:30px;
}
.nav-address{
    height:55px;
    width: 550px;
    overflow-x: scroll;
    margin-top:20px;
}
.nav-address .nav{
    float: left;
    height:50px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    overflow-x: scroll;

}
.nav-address .nav li{ 
    width:120px;
    line-height: 50px;
    margin-right:20px;
    overflow-x: scroll;
    font-size: 30px;
}
.nav-address .firstLi{
    color: red;
    border-bottom: "1px solid red";
}
.address{
    float: right;
    position: absolute;
    right:28px;
    top:102px;
    font-size: 30px;
}
.address>img{
    width: 40px;
    height: 40px;
    float: right;
}
.showsLibraryInfo{
    margin-top:30px;
}