.footer{
    width:100%;
    height:80px;
    background:#fefefe;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding-bottom:40px;
    z-index:2;
}
.lf{
    width: 25%;
    /* height:88px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home span{
    width: 50px;
    padding-bottom: 20px;
}
.home{
    color: #000;
    background: url("../images/1-2.png") center center/45px 45px no-repeat;
    padding-top:100px;
}
.active-home{
    color: #000;
    background: url("../images/1-1.png") center center/45px 45px no-repeat;
    padding-top:100px;
}
.theater{
    color: #000;
    background: url("../images/2-2.png") center center/45px 45px no-repeat;
    padding-top:100px;
}
.active-theater{
    color: #000;
    background: url("../images/2-1.png") center center/45px 45px no-repeat;
    padding-top:100px;
}
.ticket{
    color: #000;
    background: url("../images/3-2.png") center center/45px 45px no-repeat;
    padding-top:100px;
}
.active-ticket{
    color: #000;
    background: url("../images/3-1.png") center center/45px 45px no-repeat;
    padding-top:100px;
}
.my{
    color: #000;
    background: url("../images/4-2.png") center center/45px 45px no-repeat;
    padding-top:100px;
}
.active-my{
    color: #000;
    background: url("../images/4-1.png") center center/45px 45px no-repeat;
    padding-top:100px;
}