.one>img{    
    width:200px;
    height:190px;
    margin-left:40px;
    text-align:center; 
}
.one{
     font-weight: bolder;  
     width:100px;  
}
div{
   width:250px;
   font-size:20px;
   font-weight: bolder;
   margin-left:10px;
}
 
 