.hotsRecommendContainer{
    background: #fff;
    padding:0 30px;
    height:475px;
    position: relative;
    margin-top:20px;
}
.hotsRecommendContainer>h3{
    font-size: 40px;  
}
.hotsRecommendContainer>span{
    position: absolute;
    right:30px;
    top:0;
    font-size:40px;
}
.hotsRecommend{
    display:flex;
    flex-direction: row;
    align-items: baseline;
    overflow: auto;
}
.hotsRecommendInfo{
    float: left;
    width: 33.33%;
}
.hotsRecommendInfo>img{
    margin-bottom:20px;
    display: block;
}
.hotsRecommendInfo>h5{
    font-size:30px;
    font-weight:700;
    width:200px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}